doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='../socket.io-client/dist/socket.io.js')
    script(src='../jquery/dist/jquery.min.js')
  body
    block content
